@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Oleo+Script+Swash+Caps:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-div {
    @apply p-3  space-x-2 w-12 h-12 md:w-auto md:h-auto rounded-full hover:bg-yellow-500 cursor-pointer bg-gray-500 transition duration-200 text-white flex items-center justify-center;
  }
}
.bg-skill {
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(223, 223, 223)
  );
}

.bg-1 {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.863),
      rgba(255, 255, 255, 0.37)
    ),
    url("/images/bglight2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.bg-dark {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.863),
      rgba(0, 0, 0, 0.37)
    ),
    url("/images/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.btn,
.btn:link,
.btn:visited {
  transition: all 0.2s;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  overflow: hidden;
}
.btn::before,
.btn:link::before,
.btn:visited::before {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 10rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0093e9;
  background-image: linear-gradient(171.8deg, #7ea522 13.5%, #14f55f 78.6%);
  transform: translateX(-100%);
  transition: all 0.4s;
}
.btn:hover::before,
.btn:link:hover::before,
.btn:visited:hover::before {
  transform: translateX(0);
  z-index: -1;
}
.btn:active,
.btn:link:active,
.btn:visited:active {
  transform: scale(0.95);
}
.service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #323232 0, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  clip-path: circle(50px at 95% 4%);
  border-radius: 0.5rem;
  transition: all 1s;
}
.service:hover::before {
  clip-path: circle(1000px at 95% 4%);
  z-index: -10;
}

.service:hover .textH {
  color: white;
  transition: all 1s;
}
.service:hover .textD {
  color: rgb(187, 185, 185);
  transition: all 1s;
}
.service:hover .textH {
  color: white;
  transition: all 1s;
}
.t1 {
  background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
}

.t2 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}
.t3 {
  background-image: radial-gradient(
    circle 976px at 51.2% 51%,
    rgba(11, 27, 103, 1) 0%,
    rgba(16, 66, 157, 1) 0%,
    rgba(11, 27, 103, 1) 17.3%,
    rgba(11, 27, 103, 1) 58.8%,
    rgba(11, 27, 103, 1) 71.4%,
    rgba(16, 66, 157, 1) 100.2%,
    rgba(187, 187, 187, 1) 100.2%
  );
}

.react-multiple-carousel__arrow {
  z-index: 100 !important;
}
